.root {
  display: block !important;
  position: relative;
  overflow: hidden;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root > :first-child {
  width: 100%;
}

.isPaused > :first-child {
  animation-play-state: paused !important;
}

.root > :nth-child(2) {
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 3rem;
  letter-spacing: 0.0625rem;
  animation: appear 0.5s 1s backwards;
}

:not(:last-child) > * > * > * > .root > :nth-child(2) {
  display: none;
}
