.root {
  -webkit-touch-callout: unset;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.root[h2],
.root[h3] {
  padding: 0.25rem;
  width: 100%;
  background-color: var(--abc-yellow);
  text-align: center;
}

.root[h3] {
  background-color: var(--news-blue);
}

.root > * {
  margin: 0;
  border: 0;
  padding: 0.5rem 0.75rem;
}

.root[h2] > *,
.root[h3] > * {
  border-radius: calc(var(--pod-radius) * 0.625);
  background-color: rgba(255, 255, 255, 0.75);
}

.root img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.root h1,
.root h2,
.root h3 {
  font-weight: var(--pod-font-weight-heavy, bold);
  line-height: 1.2;
  text-transform: none;
}

.root h2 {
  font-size: 1.125rem;
}

@media (min-width: 24rem) {
  .root h2 {
    font-size: 1.25rem;
  }
}

.root h3 {
  font-size: 1rem;
}

@media (min-width: 24rem) {
  .root h3 {
    font-size: 1.125rem;
  }
}

.root p,
.root li {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 24rem) {
  .root p,
  .root li {
    font-size: 1rem;
  }
}

.root p {
  hanging-punctuation: first;
}

.root ol,
.root ul {
  margin-left: 0.875rem;
}

@media (min-width: 24rem) {
  .root ol,
  .root ul {
    margin-left: 1.125rem;
  }
}

.root ol {
  list-style: decimal;
}

.root ul {
  list-style: disc;
}

.root li {
  margin: 0;
  padding: 0;
}

.root ul li {
  background: none;
}

.root ol li::before {
  content: '';
}

.root > * a,
.root > * a:active,
.root > * a:link,
.root > * a:visited {
  color: var(--pod-link);
}
