.root {
  margin: 0;
  padding: 0;
  /* reset news-core:desktop */
  overflow: initial;
}

/* Higher specificity required */
.root.root {
  border-left: 0.5rem solid black;
  border-color: var(--abc-yellow, black);
}

.root.isPullquote {
  background-color: transparent;
}

.root > :not(:first-child) > * {
  padding-top: 0.125rem;
}

.root > :not(:last-child) > * {
  padding-bottom: 0.125rem;
}

.root.isPullquote p {
  font-size: 1.5rem;
  line-height: 1.25;
}

.root footer {
  font-size: 0.75rem;
  font-style: italic;
}

.root.isPullquote footer {
  font-size: 0.875rem;
}

.root footer::before {
  content: '\2014\00A0';
}
