.root {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  color: var(--pod-white, white);
  font-size: 1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.25s;
}

.root[disabled] {
  opacity: 0.125;
}
