.root {
  position: relative;
  height: 100%;
  background-color: var(--abc-black);
}

.root img {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  vertical-align: top;
  object-fit: cover;
}
