[data-podyssey-root][dismissed],
[data-podyssey-root]:not([dismissed]) ~ * {
  display: none;
}

.root {
  margin: 4rem 0 12rem;
  min-height: 5rem;
  font-size: 1.125rem;
  text-align: center;
}

.root button {
  border: 0;
  cursor: pointer;
}

.open {
  padding: 0.75rem 1.5rem;
  background-color: var(--abc-yellow);
  margin-bottom: 0.75rem;
  font-family: ABCSans;
  font-size: 1.5rem;
}

.icon {
  position: relative;
  top: 0.25rem;
  padding-left: 0.75rem;
  font-size: 2rem;
  line-height: 0;
}

.dismiss {
  padding: 0 0.25rem;
  background: none;
  font-size: inherit;
  text-decoration: underline;
}

html.hasOpen,
html.hasOpen > body {
  min-height: 100%;
}

html.hasOpen > body {
  /* Reset Phase 1 (standard)'s 100px fixed width */
  min-width: auto;
}

html > body::before,
html > body::after,
html > body > :not(.portal) {
  will-change: opacity;
}

html.hasOpen > body::before,
html.hasOpen > body::after,
html.hasOpen > body > :not(.portal) {
  opacity: 0;
  pointer-events: none;
  transition: 0.25s opacity 0.75s;
}
