.root {
  margin: 6rem 0 0;
  min-height: 5rem;
  font-family: ABCSans;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.125rem;
}

:global(.u-richtext-invert) .root {
  color: white;
  color: var(--abc-white, white);
}

.notice {
  text-transform: uppercase;
  line-height: 1.125rem;
}

.open {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 7rem;
  background-color: black;
  background-color: var(--abc-black, black);
  margin-bottom: 0.75rem;
  font-family: inherit;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.dismiss {
  border: 0;
  padding: 0.5rem;
  max-width: 15rem;
  background: none;
  color: inherit;
  font-family: inherit;
  font-size: 0.75rem;
  text-decoration: underline;
  letter-spacing: 0.125rem;
  cursor: pointer;
}

.bottom {
  margin-top: 2rem;
  height: 4rem;
}

[data-podyssey-root].hasDismissed .dismissChoice,
[data-podyssey-root]:not(.hasDismissed) ~ * {
  display: none;
}

[data-podyssey-root] ~ [name='footer'] ~ :not(:global(.MasterGallery)) {
  display: block;
}

html.hasOpen,
html.hasOpen > body {
  overflow: hidden;
}

html.hasOpen {
  min-height: 100%;
}

@keyframes pan {
  0%,
  50%,
  100% {
    background-position: 50% 0;
  }
  25% {
    background-position: 30% 0;
  }
  75% {
    background-position: 70% 0;
  }
}

html.hasOpen > body {
  width: 100%;
  height: 100%;
  min-width: auto;
  min-height: auto;
  animation: pan 60s linear;
}

html.hasOpen > body::before,
html.hasOpen > body::after,
html.hasOpen > body > :not(.portal) {
  opacity: 0;
  pointer-events: none;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

html.hasOpen > body > :not(.portal) {
  animation: disappear 0.5s backwards;
}

html.hasOpen .open svg {
  opacity: 0;
}
