.root {
  margin: 6rem 0 0;
  min-height: 5rem;
  font-family: ABCSans;
  font-size: 0.75rem;
  text-align: center;
  letter-spacing: 0.125rem;
}

:global(.u-richtext-invert) .root {
  color: white;
  color: var(--abc-white, white);
}

.notice {
  text-transform: uppercase;
  line-height: 1.125rem;
}

.open {
  margin: 1rem;
  padding: 1rem 0.5rem;
  width: 7rem;
  background-color: black;
  background-color: var(--abc-black, black);
  margin-bottom: 0.75rem;
  font-family: ABCSans;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.dismiss {
  border: 0;
  padding: 0.5rem;
  max-width: 15rem;
  background: none;
  color: inherit;
  text-decoration: underline;
  letter-spacing: 0.125rem;
  cursor: pointer;
}

.bottom {
  margin-top: 2rem;
  height: 4rem;
}

[data-podyssey-root].hasDismissed .dismissChoice,
[data-podyssey-root]:not(.hasDismissed) ~ * {
  display: none;
}

[data-podyssey-root] ~ [name='footer'] ~ :not(:global(.MasterGallery)) {
  display: block;
}

html.hasOpen,
html.hasOpen > body {
  overflow: hidden;
}

html.hasOpen {
  min-height: 100%;
}

html.hasOpen > body {
  height: 100%;

  /* Reset Phase 1 (standard)'s 100px fixed width */
  min-width: auto;
}

@keyframes out {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    transform: none;
  }
  100% {
    transform: translate(100vh, 0);
  }
}

html.hasOpen > body::before,
html.hasOpen > body::after {
  opacity: 0;
}

html.hasOpen > body > header,
html.hasOpen > body > main,
html.hasOpen > body > footer,
html.hasOpen > body > div:not(.portal) {
  pointer-events: none;
  animation: out 0.5s forwards;
}

html.hasOpen .open svg {
  opacity: 0;
}
