.root {
  display: inline-block;
  font-size: 2.5rem;
  width: 1em;
  height: auto;
  vertical-align: middle;
  fill: currentColor;
}

.root:first-child:not(:last-child) {
  margin: 0 0.5rem 0 0;
}

.root:last-child:not(:first-child) {
  margin: 0 0 0 0.5rem;
}

.block {
  display: block;
  margin: 0 auto;
}

.block:first-child:not(:last-child) {
  margin: 0 auto 0.5rem;
}

.block:last-child:not(:first-child) {
  margin: 0.5rem auto 0;
}

.tiny {
  font-size: 1.25rem;
}

.small {
  font-size: 1.75rem;
}

.large {
  font-size: 3.25rem;
}

.huge {
  font-size: 3.75rem;
}
