.root {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.root *,
.root *::before,
.root *::after {
  box-sizing: inherit;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: black;
  animation: appear 0.75s backwards;
}

svg.overlay {
  fill: currentColor;
}

div.overlay {
  background-color: currentColor;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 30rem) and (min-height: 30rem) {
  .content {
    border-radius: 0.5rem;
    width: calc(100vmin - 2rem);
    height: calc(100vmin - 2rem);
    max-width: 62rem;
    max-height: 62rem;
  }
}

@keyframes tilt {
  0%,
  50%,
  100% {
    transform: translate(-50%, -50%);
  }

  33% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

@media (max-height: 30rem) and (orientation: landscape) {
  .content {
    background-color: #000;
  }

  .content > * {
    opacity: 0;
    pointer-events: none;
  }
}

.rotator {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media (max-height: 30rem) and (orientation: landscape) {
  .rotator {
    display: block;
  }
}

.rotator svg {
  width: 5rem;
  height: 8.75rem;
}

.rotator path {
  animation: 4.167s cubic-bezier(0.42, 0, 0.58, 1) infinite both;
}

@keyframes device {
  0%,
  60% {
    transform: translate(23px, 29px) rotate(90deg) translate(-36px, -35px);
  }
  10.8%,
  48% {
    transform: translate(23px, 29px) rotate(0deg) translate(-36px, -35px);
  }
  to {
    transform: translate(23px, 29px) rotate(90deg) translate(-36px, -35px);
  }
}

@keyframes tick {
  0%,
  14.4%,
  46.8% {
    transform: translate(23px, 25.3335px) scale(0, 0) translate(-36px, -30.3335px);
  }
  19.2% {
    transform: translate(23px, 25.3335px) scale(1.5, 1.5) translate(-36px, -30.3335px);
  }
  22.8%,
  43.5999% {
    transform: translate(23px, 25.3335px) scale(1, 1) translate(-36px, -30.3335px);
  }
  to {
    transform: translate(23px, 25.3335px) scale(0, 0) translate(-36px, -30.3335px);
  }
}

@keyframes cross {
  0%,
  63.6%,
  97.5999% {
    transform: translate(25.9142px, 28.668px) scale(0, 0) translate(-38.9142px, -35.668px);
  }
  68% {
    transform: translate(25.9142px, 28.668px) scale(1.8, 1.8) translate(-38.9142px, -35.668px);
  }
  72%,
  94.8% {
    transform: translate(25.9142px, 28.668px) scale(1, 1) translate(-38.9142px, -35.668px);
  }
  to {
    transform: translate(25.9142px, 28.668px) scale(0, 0) translate(-38.9142px, -35.668px);
  }
}

.rotator path:nth-child(1) {
  animation-name: device;
}

.rotator path:nth-child(2) {
  animation-name: tick;
}

.rotator path:nth-child(3) {
  animation-name: cross;
}
.root button[data-type='close'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
