.root {
  display: flex;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  cursor: auto;
}

.root *,
.root *::before,
.root *::after {
  box-sizing: inherit;
}

.loader {
  transition: 0.5s opacity;
}

.loader:not(:last-child) {
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  animation: appear 0.5s;
}

.content {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: var(--pod-black-shadow);
}

@media (min-width: 30rem) {
  .content {
    border-radius: 0.5rem;
    width: calc(100vmin - 2rem);
    height: calc(100vmin - 2rem);
    max-width: 62rem;
    max-height: 62rem;
  }
}

@keyframes tilt {
  0%,
  50%,
  100% {
    transform: translate(-50%, -50%);
  }

  33% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

@media (max-height: 30rem) and (orientation: landscape) {
  .content {
    background-color: #111;
  }

  .content > * {
    display: none;
  }

  .content::after {
    content: 'Please turn your device vertically';
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    color: #eee;
    font-size: 1.5rem;
    text-align: center;
    animation: tilt 2s infinite;
  }
}

.root button[data-type='close'] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
