.root {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: black;
  background-color: var(--abc-black, black);
  color: white;
  color: var(--abc-white, white);
}

.root svg {
  vertical-align: bottom;
}

.title {
  margin-right: 0.5rem;
  min-width: 0;
  font-size: 0.875rem;
  font-style: italic;
  line-height: 44px;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .title {
    font-size: 1rem;
  }
}

.appTitle {
  padding-right: 10px;
  font-size: 1.5rem;
  line-height: 44px;
  white-space: nowrap;
  pointer-events: none;
}

.beta {
  position: relative;
  top: -0.25rem;
  border: 2px solid white;
  border-width: var(--pod-ui-border-width, 2px);
  border-radius: calc(var(--pod-radius) / 2);
  padding: 0 0.25rem;
  background-color: var(--news-blue);
  color: var(--abc-black);
  font-size: 0.75rem;
  vertical-align: top;
}
