.root {
  position: relative;
  padding: 1.5rem 0 1.75rem;
  color: white;
  color: var(--abc-white, white);
  font-size: 0.75rem;
}

.track {
  position: relative;
  height: 0.1875rem;
}

.halo {
  position: absolute;
  top: -0.5rem;
  right: 0;
  bottom: -0.5rem;
  left: 0;
}

.snapTimes {
  opacity: 0.3;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

.snapTime,
.currentTimeMarker,
.handle {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 0;
  background-color: currentColor;
}

.snapTime,
.handle {
  border-radius: 50%;
}

.snapTime {
  width: 0.5625rem;
  height: 0.5625rem;
}

.currentTimeProgress,
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: currentColor;
}

.currentTimeProgress {
  opacity: 0.3;
}

.handle {
  width: 0.9375rem;
  height: 0.9375rem;
}

.handleTime {
  opacity: 0;
  transform: translate(-50%, 0);
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  pointer-events: none;
  transition: opacity 0.25s 0.5s;
}

.isVisible {
  opacity: 1;
  transition: opacity 0.125s 0.125s;
}

.extents {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.extents > :last-child {
  text-align: right;
}
