.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.notes {
  overflow: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar */
  margin-right: -2rem;
  padding: 0 3rem 0 1rem;
}

.end {
  height: 1rem;
}
