.root {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: var(--pod-black, black);
  box-shadow: var(--pod-black-shadow);
  color: white;
  color: var(--pod-white, white);
  font-family: ABCSans;
  font-weight: var(--pod-font-weight-normal);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .root {
    border-radius: 0.5rem;
    max-width: 40rem;
    max-height: 40rem;
  }
}

@keyframes rotateHint {
  0%,
  50%,
  100% {
    transform: translate(-50%, -50%);
  }

  33% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

@media (max-height: 30rem) and (orientation: landscape) {
  .root > * {
    display: none;
  }

  .root::after {
    content: 'Please turn your device vertically';
    transform: translate(-50%, -50%);
    animation: rotateHint 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

.main {
  height: 100%;
}

.controls {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 1rem 4rem;
}

.controls::before {
  content: '';
  opacity: 0.75;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 12rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%);
}

.times {
  display: flex;
  justify-content: space-between;
  margin-top: -0.25rem;
  width: 100%;
  font-size: 0.75rem;
  pointer-events: none;
}

.times > :last-child {
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons > * {
  margin: 0 0.5rem;
}

.buttons > [data-type='play'][disabled],
.buttons > [data-type='pause'][disabled] {
  display: none;
}

/* Safari removes padding from last flex child */
.controls::after {
  content: '';
  display: block;
  flex: 0 0 0.0625rem;
}
