@keyframes enter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: var(--pod-black, black);
  color: white;
  color: var(--pod-white, white);
  font-family: ABCSans;
  font-weight: var(--pod-font-weight-normal);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  animation: enter 0.75s backwards;
}

@keyframes rotateHint {
  0%,
  50%,
  100% {
    transform: translate(-50%, -50%);
  }

  33% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}

@media (max-height: 30rem) and (orientation: landscape) {
  .root > * {
    display: none;
  }

  .root::after {
    content: 'Please turn your device vertically';
    transform: translate(-50%, -50%);
    animation: rotateHint 2s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 20rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

.root > main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.root > nav {
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 40rem;
  max-height: 40rem;
}

.controls {
  position: absolute;
  right: 0;
  bottom: 3rem;
  left: 0;
  padding: 0.5rem;
}

.scrub {
  margin: 0.5rem 0;
}

.scrub :global(.rangeslider) {
  position: relative;
  border-radius: 0.25rem;
  width: 100%;
  height: 0.5rem;
  background-color: #666;
  background-color: var(--abc-lightgrey, #666);
  touch-action: none;
}

.scrub :global(.rangeslider)::before {
  content: '';
  position: absolute;
  top: -1rem;
  right: 0;
  bottom: -1rem;
  left: 0;
}

.scrub :global(.rangeslider__fill),
.scrub :global(.rangeslider__handle) {
  background-color: white;
  background-color: var(--abc-white, white);
}

.scrub :global(.rangeslider__fill) {
  border-radius: 0.25rem;
  height: 100%;
}

.scrub :global(.rangeslider__handle) {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
}

.scrub :global(.rangeslider__handle)::before {
  content: '';
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
}

.playback {
  position: relative;
  margin: 0.125rem 0 0;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .playback {
    margin: 0.5rem 0 0;
  }
}

.playback > * {
  display: flex;
}

.times {
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .times {
    top: -0.375rem;
  }
}

.times > * {
  display: block;
  font-size: 0.75rem;
  width: 6em;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .times > * {
    font-size: 0.875rem;
  }
}

.times > :last-child {
  text-align: right;
}

.buttons {
  justify-content: center;
}

.buttons > * {
  border: 0;
  margin: 0 0.5rem;
  padding: 0.125rem;
  background-color: transparent;
  color: white;
  color: var(--pod-white, white);
  font-size: 1rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 0.25s;
}

.buttons > [disabled] {
  opacity: 0.125;
}

.buttons > :global(.PauseButton)[disabled],
.buttons > :global(.PlayButton)[disabled] {
  display: none;
}

.buttons svg {
  width: 2rem;
  height: auto;
  vertical-align: bottom;
  fill: currentColor;
}

@media (min-width: 40rem) and (min-height: 40rem) {
  .buttons svg {
    width: 2.5rem;
  }
}

/* Safari removes padding from last flex child */
.controls::after {
  content: '';
  display: block;
  flex: 0 0 0.0625rem;
}

.stepButtonText {
  font-size: 0.75rem;
  font-family: ABCSans;
  font-variant-numeric: oldstyle-nums;
}
