.root {
  position: relative;
  height: 100%;
  background-color: black;
  will-change: animation;
}

.root img {
  opacity: 0;
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0;
  width: auto;
  height: 100%;
  max-width: none;
  min-height: 100%;
  font-size: 0;
  vertical-align: top;
  transition: opacity 0.25s;
}

.root img[loaded] {
  opacity: 1;
}
