.root {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  background-color: var(--pod-black);
  color: var(--pod-white);
}

.root svg {
  vertical-align: bottom;
}

.title {
  padding-right: 10px;
  font-size: 1.5rem;
  line-height: 44px;
  pointer-events: none;
}

.beta {
  position: relative;
  top: -0.25rem;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  background-color: var(--pod-blue);
  color: var(--pod-black);
  font-size: 0.75rem;
  vertical-align: top;
}
